@using DXNewsAPI.Model.Entity.News
@model IEnumerable<DXNewsAPI.Model.Entity.News.NewsItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="newsBody">
    <table class="table">

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abstract)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Detail", new { id = item.Id })
                    </td>
                    <td>
                        <img src="@item.ImageUrl" class="newsImage" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
 
</div>

