@using DXNewsAPI.Model.Entity.News
@model IEnumerable<DXNewsAPI.Model.Entity.News.NewsItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="newsBody">
    @foreach (var item in Model)
    {
        <div class="nb clearfix">
            <div class="nb_imageArea">
                <div class="nb_image">
                    <img src="@item.ImageUrl" />
                </div>
                <div class="nb_abstract">@Html.DisplayFor(modelItem => item.Abstract)</div>
            </div>

            <div class="nb_content">
                <div class="nb_title">@Html.DisplayFor(modelItem => item.Title)</div>

                <div class="nb_body">
                    @*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum sit amet quam dictum eleifend. Nunc efficitur turpis leo, eget volutpat libero facilisis sed. Duis auctor luctus orci a ultricies. Phasellus convallis justo felis, quis elementum nulla molestie elementum. Donec eu tempor elit. Etiam maximus pellentesque justo posuere rutrum. Vestibulum consectetur elit a neque tincidunt mattis. Donec tristique semper lorem sit amet mattis. Suspendisse malesuada purus condimentum lobortis elementum. Morbi pretium, justo fringilla dapibus placerat, lacus est bibendum nisl, et gravida leo lectus sit amet dui. Curabitur eget lobortis nisi. Aenean iaculis volutpat feugiat. Quisque id lectus at turpis dapibus elementum. Pellentesque ut leo id metus venenatis convallis. Aenean et iaculis erat. Cras aliquam mauris vitae sem lacinia, eu efficitur neque imperdiet. Ut dignissim et orci ac ullamcorper.*@
                    @Html.DisplayFor(modelItem => item.Body)
                </div>

                @*<div class="nb_link">@Html.ActionLink("Details", "Detail", new { id = item.Id })</div>*@
                <div class="nb_link">
                    <a href="@Url.Action("Detail", new { id = item.Id })">
                        <i class="glyphicon glyphicon-option-horizontal"></i>
                        <span class="sr-only">Detail</span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

